.background {
  background-image: url("/home/equipo/Desktop/LinkEx/src/Assets/priscilla-du-preez-ZvvYXz72yZI-unsplash.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 623px;
}
